In [1]:
import os

import pandas as pd
import numpy as np

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy
from flask_mysqldb import MySQL

In [2]:
app = Flask(__name__)

In [3]:
app.config["SQLALCHEMY_DATABASE_URI"] = "mysql://root:CD!1234567a@localhost/realestate"
# engine = create_engine("mysql://root:CD!1234567a@localhost/realestate")
db = SQLAlchemy(app)

C:\ProgramData\Anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [4]:
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

In [5]:
Listing = Base.classes.newmonthlylistings_allhomes_2019
Price = Base.classes.city_medianlistingprice_allhomes_2019
Affordability = Base.classes.affordability_wide_2019q1_public_2019
States = Base.classes.statelist

In [52]:
 def samples(sample):   
    stmt = db.session.query(Listing).statement
    df = pd.read_sql_query(stmt, db.session.bind)

    # Filter the data based on the sample number and
    # only keep rows with values above 1
    sample_data = df.loc[10,["RegionName","May2019"]]

    # Sort by sample
    sample_data.sort_values(by="May2019", ascending=False, inplace=True)

    # Format the data to send as json
    data = {
        "RegionName": sample_data.RegionName.values.tolist(),
        #"StateName": sample_data[sample].values.tolist(),
        "May2019": sample_data.May2019.tolist(),
    }

In [53]:
df.head()

,ID,SizeRank,RegionID,RegionName,RegionType,StateName,Jan2019,Feb2019,Mar2019,Apr2019,May2019
0,1,1,6181,New York,City,NY,0,3810,4623,4413,5226
1,2,2,12447,Los Angeles,City,CA,0,1848,2115,2018,2300
2,3,3,39051,Houston,City,TX,2901,2881,3040,3096,3391
3,4,4,17426,Chicago,City,IL,0,2811,3318,4133,3271
4,5,5,6915,San Antonio,City,TX,1705,1709,2110,1943,2232

In [66]:
sample_data = df.loc[df.StateName=="CA",["RegionName","May2019"]]
sample_data

                RegionName  May2019
1              Los Angeles     2300
8                San Diego     1450
11                San Jose      774
13           San Francisco      420
28              Sacramento      595
31                  Fresno      531
41              Long Beach      289
43                 Oakland      303
56               Riverside      303
57             Bakersfield      435
60                 Anaheim      189
61               Santa Ana       96
77                Stockton      224
82                 Modesto      241
91          San Bernardino      181
92             Chula Vista      224
102                 Irvine      308
111                Fremont      219
112          Santa Clarita      288
113                Fontana      163
119             Santa Rosa      185
120                 Oxnard      126
130                 Corona      251
131              Oceanside      218
136               Glendale      119
138          Moreno Valley      172
142       Huntington Beach      184
148                Salinas       68
151                Hayward      118
156              Lancaster      282
...                    ...      ...
2966         Scotts Valley       17
2995             Clearlake       20
3006              Imperial       23
3020          Coto de Caza       41
3181  Palos Verdes Estates       26
3203              Calimesa       22
3229           Canyon Lake       34
3241            Coarsegold       30
3256          Solana Beach       34
3260         Big Bear City      131
3265               Magalia       38
3301       California City       42
3319        Lake Arrowhead      142
3345       Rancho Santa Fe       31
3394           Penn Valley       34
3403           Joshua Tree       32
3410         Discovery Bay       46
3433                 Yreka       13
3440          Indian Wells       36
3483         Mammoth Lakes       62
3525             Montecito       36
3577           Sloughhouse       20
3591           Pismo Beach       20
3602             Helendale       42
3648            Wrightwood       18
3654       Running Springs       49
3656             Groveland       37
3683          Copperopolis       30
3699             Idyllwild       34
3705    Pine Mountain Club       26

[343 rows x 2 columns]